
doctype html
html(lang="ja")
  head
    title= pageTitle
    link(rel='stylesheet' href='./assets/css/bundle.css')
  body
    h1 俺がこれを作ったのだーーーー
    script(src="./assets/js/vender.js")
    script(src="./assets/js/app.js")
