@charset "UTF-8";

@import '_button';
@import 'templete/index';

$blue:#FF3399;

h1 {
	color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  background: #ccc;
}
